* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body p {
  font-size: bold;
  font-family: sans-serif;
}
.influence {
  background-image: url(/images/image1.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;

  width: 100%;
}
.menu {
  color: #eeeaea;
  padding: 10px;
}
.influence p {
  text-align: center;

  color: white;
  font-size: 20px;
}
header button {
  background-color: rgba(226, 34, 130, 0.767);
  border-radius: 1rem;
  color: #eeeaea;
  border: none;
}
.mission h3 {
  text-align: center;
  font-size: 30px;
}
.mission p {
  text-align: center;
}
.people h3 {
  text-align: center;
  font-size: 30px;
}
.people p {
  text-align: center;
  padding-bottom: 5%;
}
.info {
  background-color: #dad0d0;
  background-size: cover;
  padding-bottom: 20px;
}
.dolor {
  text-align: center;
}
.dolor h5 {
  text-align: left;
}
.dolor p {
  text-align: left;
}
.achoo p {
  color: cyan;
  padding: 10px;
}

.trail {
  background-color: rgba(226, 34, 110, 0.925);
}
.trail p {
  text-align: center;
  color: #eeeaea;
}

.trail button {
  background-color: rgba(206, 30, 118, 0.767);
  border-radius: 1rem;
  border: none;
  color: #eeeaea;
}
.neisen h5 {
  font-size: 16px;
}
.neisen ul {
  list-style: none;
}
.symbols {
  font-size: 25px;
}
@media screen and (min-width: 320px) {
  .influence {
    min-height: 70vh;
  }
  .influence p {
    /*padding: 90px, 10px, 0px, 10px;*/
    padding-top: 30%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav-bar {
    display: none;
  }
  .menu i {
    float: right;
  }
  header button {
    height: 25px;
    width: 45%;
    /* margin: 25px, 0px, 0px, 70px;*/
    margin-left: 25%;
    margin-top: 5%;
  }
  .mission h3 {
    margin: 50px, 0px, 0px, 15px;
    /* margin-top: 50px;
    margin-bottom: 15px;*/
  }
  .mission p {
    padding: 20px;
    margin-top: 20px;
  }
  .people h3 {
    padding-top: 20%;
    padding-bottom: 10%;
  }
  .dolor {
    padding: 20px;
    margin: 26px;
    margin-bottom: 0px;
  }

  .dolor h5 {
    padding-left: 55px;
  }
  .dolor p {
    padding-left: 55px;
  }
  .Rastus {
    width: 55%;
  }
  .trail p {
    padding: 20px;
  }
  .trail button {
    /* margin: 0px, 80px, 40px, 0px;*/
    margin-left: 30%;
    margin-bottom: 10%;
    width: 45%;
    height: 25px;
  }
  .neisen h5 {
    padding: 20px;
  }
  .neisen ul {
    padding-left: 20px;
  }
  .neisen ul li {
    font-size: 16px;
  }
  .symbols {
    padding: 25px;
  }
  footer h3 {
    margin: 0px, 26px, 0px, 40px;
    margin-left: 4%;
    margin-bottom: 7%;
  }
}

@media screen and (min-width: 700px) {
  .influence {
    height: 70vw;
  }
  .influence p {
    font-size: 1.5rem;
  }
  header button {
    height: 30px;
    width: 47%;
    font-size: 1.2rem;
  }
  .people {
    margin-bottom: 10%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .people p {
    font-size: 1.2rem;
  }
  .people h3 {
    font-size: 1.9rem;
  }
  .mission p {
    font-size: 1.2rem;
  }
  .mission h3 {
    font-size: 1.9rem;
  }
  .dolor h5 {
    font-size: 1rem;
  }
  .dolor p {
    font-size: 1.2rem;
  }
  .trail p {
    padding-top: 8%;
    font-size: 1.2rem;
  }
  .trail button {
    margin-top: 4%;
    font-size: 1.2rem;
    height: 30px;
    width: 47%;
  }
  .neisen h5 {
    font-size: 1.7rem;
  }
  .neisen ul li {
    font-size: 1.5rem;
  }
  .symbols {
    font-size: 1.9rem;
  }
  footer h3 {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1000) {
  .influence {
    height: 80vw;
  }
  .influence p {
    font-size: 2rem;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }
  header button {
    height: 30px;
    width: 30%;
  }
}
