* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*header*/
header.influence {
  background-image: url(/images/image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100vw;
}
label.LOGO {
  color: aliceblue;
  font-size: 20px;
  padding-left: 0.5rem;
  padding-top: 1rem;
}
/*manu*/
nav ul {
  float: right;
  margin-right: 5px;
  list-style: none;
}
nav ul li {
  display: none;
}
nav ul li a {
  color: aliceblue;
}
nav i {
  color: aliceblue;
  padding-right: 1vh;
  padding-top: 1vh;
}
/*header*/
.influence p {
  text-align: center;
  padding-top: 130px;
  padding-left: 45px;
  padding-right: 45px;
  color: rgb(252, 252, 252);
}
header button {
  width: 45%;
  height: 8%;
  text-align: center;
  text-transform: lowercase;
  margin: 20px;
  background-color: #c73b69;
  color: #f1eeee;
  border-radius: 1rem;
  border: none;
  margin-left: 25%;
}

.mission h3 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 30px;
}
.mission p {
  font-family: "montserrat", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin-bottom: 20%;
}
/*Division*/
.people {
  background-color: #dad6d6;
}
.people h3 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 30px;
}
.people p {
  font-family: "montserrat", sans-serif;
  font-style: oblique;
  text-align: center;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
.info {
  background-color: #dad6d6;
}
/*division1*/

.dolor h5 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding-top: 10px;
}
.dolor p {
  text-align: center;
  font-family: "montserrat", sans-serif;
  padding-top: 20px;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 10px;
}
.Rastus {
  width: 60vw;
  height: 37vh;
  margin-left: 20%;
}
.dolor div {
  text-align: start;
  color: #86f8f8f8;
  padding-bottom: 10%;
  padding-left: 10%;
}
/*division2*/
.amet h5 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding-top: 10px;
}
.amet p {
  text-align: center;
  font-family: "montserrat", sans-serif;
  padding-top: 20px;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 10px;
}
.elit {
  width: 60vw;
  height: 37vh;
  margin-left: 20%;
}
.amet div {
  text-align: start;
  color: #86f8f8f8;
  padding-bottom: 10%;
  padding-left: 10%;
}
/*division3*/
.placeat h5 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding-top: 10px;
}
.placeat p {
  text-align: center;
  font-family: "montserrat", sans-serif;
  padding: 20px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 10px;
}
.optio {
  width: 60vw;
  height: 37vh;
  margin-left: 20%;
}
.placeat div {
  text-align: start;
  color: #86f8f8f8;
  padding-bottom: 20%;
  padding-left: 10%;
}
/*division4*/
.trail {
  background-color: #da2f68;
}
.trail p {
  text-align: center;
  font-family: "montserrat", sans-serif;
  padding-top: 6vh;
  text-align: center;
  color: #f1eeee;
}
.trail button {
  width: 50%;
  height: 5vh;
  text-transform: lowercase;
  background-color: #be1f54;
  margin: 25px;
  color: #f1eeee;
  border-radius: 1rem;
  border: none;
  margin-left: 25%;
  margin-bottom: 15%;
}
/*footer*/
.neisen {
  display: grid;
}
.fugiat {
  margin: 10%;
}
.fugiat h5 {
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5%;
}
.fugiat ul {
  font-style: normal;
  line-height: 25px;
  list-style: none;
}
.help {
  margin: 10%;
}
.help h5 {
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5%;
}
.help ul {
  font-style: normal;
  line-height: 25px;
  list-style: none;
}
.contact {
  margin: 10%;
}
.contact h5 {
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5%;
}
.contact ul {
  font-style: normal;
  line-height: 25px;
  list-style: none;
}
.symbols {
  margin-left: 10%;

  font-size: 5vh;
}
footer h3 {
  margin: 20%;
}
